<!DOCTYPE html>
  <html>
    <head>
        <meta charset="utf-8"/>
      <link rel="stylesheet" type="text/css" href="../css/style.css" />
      <title>GROW - FlowerPower</title>
    </head>
    <body>
      <h1>GROW Flower Power</h1>

      <!-- status bar -->
      <div id="status-bar"></div>

      <!-- readings -->
      <div id="sensor-readings">
        <div id="sensor-name"></div>
        <div id="serial-number"></div>
        <div id="battery-level"></div>
        <div id="soil-moisture"></div>
        <div id="air-temp"></div>
        <div id="soil-temp"></div>
      </div>

      <script src="../../src/dom-events.js"></script>
    </body>
  </html>